{{ define "members/index.tmpl" }}
    <html lang="ja">
    {{ template "header" }}
    {{ template "navi" }}

    <body class="d-flex flex-column min-vh-100">

    {{ template "notificationMessage" . }}

    <div class="container">
        <section class="mt-4">
            <h2>メンバー一覧</h2>
        </section>

        {{ if .members | len }}
            <section class="mt-4">
                <div class="container">
                    <div id="#today-worker" class="alert alert-info notification">
                        <span>全メンバーから抽選しますよ</span>
                    </div>
                </div>
            </section>

            <section class="mt-4 mb-2">
                <div class="container">
                    <button id="text-button" class="btn btn-primary" onclick="fetchSelectMember()">抽選開始</button>
                </div>
            </section>

            <ul class="list-group">
                {{ range .members }}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{.Name}}さん</span>
                        <button class="btn btn-danger delete-button" onclick="deleteMember(this)"
                                data-user-id={{.Id}} confirm="true">削除
                        </button>
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            <div class="container mt-4">
                <div class="alert alert-danger" role="alert">
                    <p>チームがありません</p>
                </div>
            </div>
        {{ end }}

        <script>
            const fetchSelectMember = function () {
                fetch('/members/random', {cache: 'no-cache'})
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error();
                        }
                        return response.json();
                    })
                    .then((response) => {
                        let element = document.getElementById('#today-worker');
                        element.innerHTML = `<img class="p-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzATs-2czMVVRQ6i6Q_iNySm1e8dw_eExI6buA1uZb2m7B6S_jwhRqCJ6xCW_wwI2cTLc&usqp=CAU" alt="君に決めた"><span class="p-1 lead">${response.name}さん、君に決めた！</span>`;
                    })
                    .catch((reason) => {
                        alert(`エラー発生`);
                    });
            };

            const deleteMember = function (obj) {
                const id = obj.getAttribute('data-user-id');
                const request_path = `/members/${id}`

                fetch(request_path, {cache: 'no-cache', method: 'DELETE'})
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error();
                        }
                        return response.json();
                    })
                    .then((response) => {
                        location.reload()
                    })
                    .catch((reason) => {
                        alert(`エラー発生`);
                    });
            };
        </script>

    </div>


    {{template "footer"}}
    </body>
    </html>

{{ end }}