{{ define "members/new.tmpl" }}
<html lang="ja">
{{ template "header" }}
{{ template "navi" }}

<body class="d-flex flex-column min-vh-100">

{{ template "errorMessages" . }}
{{ template "notificationMessage" . }}


<div class="container">
    <section class="mt-4">
        <h2>新規登録</h2>
        <form method="post" action="/members" class="needs-validation" novalidate>
            <div class="form-control">
                <div class="form-group mb-3">
                    <label for="name">名前</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="入力してください"
                           required>
                    <div class="invalid-feedback">
                        名前を入力してください。
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </form>
    </section>
</div>

{{template "footer"}}

{{ end }}
</body>
</html>

