{{ define "members/show.tmpl" }}

<html>
    <head>
        <title>{{.title}}</title>
    </head>
    <body>
        <h1>{{.name}}</h1>
        <ul>
            <li>{{.id}} {{.name}}さん</li>
        </ul>
    </body>
</html>

{{ end }}
